<div class="dialog-header">
  <a class="closeicon" href="#">&#x2715;</a>
  <h1 class="dialog-title">[%= str.exportpublic %]</h1>
</div>
<div class="innersection">
  <div class="message"></div>
  <button name="toclipboard">[%= str.clipboard %]</button>
  <button name="tofile">[%= str.file %]</button>
  <button name="tokeyserver">[%= str.keyserver %]</button>
  <pre name="pubexport"></pre>
</div>  
