<div class="dialog-header">
  <a class="closeicon" href="#">&#x2715;</a>
  <h1 class="dialog-title">[%= str.import %]</h1>
</div>
<div class="innersection">
  <form class="form">
    <textarea id="pgp-import-input" cols="64" rows="20"></textarea>
    <br />
    <button id="pgp-import-button">[%= str.import %]</button>
  </form>
  <div class="results"></div>
</div>
