<div><div id="notifications"></div></div>
<div id="menu">
  <a href="#" id="menu-encrypt">[%= str.encrypt %]</a>
  <a href="#" id="menu-decrypt">[%= str.decrypt %]</a>
  <a href="#" id="menu-sign">[%= str.sign %]</a>
  <a href="#" id="menu-verify">[%= str.verify %]</a>
</div>
<div id="options">
  <a href="#" id="menu-options">[%= str.options %]</a>
</div>
<div id="background"></div>
<div id="dialogs">
  <div id="container-background"></div>
  <div id="container"></div>
</div>
