<ul>
  <li><a id="section-genkey" href="#">[%= str.genkey %]</a></li>
  <li><a id="section-import" href="#">[%= str.import %]</a></li>
  <li id="section-operations">Operations</li>
  <ul>
    <li><a id="section-encrypt" href="#">[%= str.encrypt %]</a></li>
    <li><a id="section-decrypt" href="#">[%= str.decrypt %]</a></li>
    <li><a id="section-sign" href="#">[%= str.sign %]</a></li>
    <li><a id="section-verify" href="#">[%= str.verify %]</a></li>
  </ul>
  <li><a id="section-manager" href="#">[%= str.keyring %]</a></li>
  <li><a id="section-options" href="#">[%= str.options %]</a></li>
</ul>
