<div class="dialog-header">
  <a class="closeicon" href="#">&#x2715;</a>
  <h1 class="dialog-title">[%= str.sign %]</h1>
</div>
<div class="innersection">
  <form class="form">
    <span id="pgp-sign-recipients-str" class="str intro">[%= str.pgp_sign_recipients %]</span><br />
    <select id="pgp-sign-recipients-list"></select>
    <hr />
    <textarea id="pgp-sign-input" cols="64" rows="20"></textarea>
    <br />
    <button id="pgp-sign-button">[%= str.pgp_sign_button %]</button>
    <br />
  </form>
  <div class="results"></div>
</div>
