<div class="dialog-header">
  <a class="closeicon" href="#">&#x2715;</a>
  <h1 class="dialog-title">[%= str.verify %]</h1>
</div>
<div class="innersection">
  <form class="form">
  <textarea id="pgp-verify-input" cols="64" rows="20"></textarea>
  <br />
  <button id="pgp-verify-button">[%= str.pgp_verify_button %]</button>
  </form>
  <div class="results"></div>
</div>  
