<div id="welcome">
  <h1>Welcome to PidgeonPG</h1>
  <div id="wlogo"></div>
  <p>
    Your keyring is empty. To add keys to your keyring you can either <a id="open-generate" href="#">generate a new key pair</a> or <a id="open-import" href="#">import a key</a>.
  </p>
</div>

